{% extends "shop/base_nav.html" %}
{% load static %}

{% block title %}
  carro de compra
{% endblock %}

{% block content %}
<link href="{% static 'css/base.css' %}" rel="stylesheet">

<div class="container">
  <div class="row">
    <div class="col">
      {% for item in cart %}
        {% with product=item.product %}
          <div class="card mb-3 mt-3" style="width: 500px;">
            <div class="card-header fw-bold text-center" style="background-color: #34DD78; color: #4E50B4;">
              <p style="color: #4e50b4;"><strong>{{ product.name }}</strong></p>
            </div>
            <div class=" d-flex justify-content-center">
              <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="card-img-top" alt="img_producto" style="max-width: 190px; max-height: 190px; margin-top: 15px;">
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div style="color: #4e50b4">
                    <p class="fw-bold">Precio por unidad: </p><p>${{ item.price }}</p>
                    <p class="fw-bold">Precio Total: </p><p>${{ item.total_price }}</p>
                  </div>
                </div>
                <div class="col">
                  <div class="d-flex">
                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {% if not is_cart_detail %} <!-- Linea agregada-->
                      {{ item.update_quantity_form }}
                      <input type="submit" value="Actualizar" class="btn btn-primary me-3" style="background-color: #4e50b4;">
                    {% endif %} <!-- Linea agregada-->
                    {% csrf_token %}
                    </form>
                    <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                      <input type="submit" value="Eliminar" class="btn fw-bold" style="background-color: #34DD78; color: #4E50B4;">
                      {% csrf_token %}
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endwith %}
      {% endfor %}
    </div>

    <div class="col">
      <div class="card mt-3 float-end" style="width: 300px;">
        <div class="card-header text-center fw-bold" style="background-color: #34DD78; color: #4E50B4;">
          Generar compra
        </div>
        <div class="card-body text-center">
          <p style="color: #4E50B4;" class="fw-bold">Sub-Total</p>
          <p style="background-color: #d9d9d9;">$ {{ cart.get_total_price }}</p>
          <p style="color: #4E50B4;" class="fw-bold">Descuento:</p>
          <p style="background-color: #d9d9d9;">$</p>
          <p style="color: #4E50B4;" class="fw-bold">Costos del envío:</p>
          <p style="background-color: #d9d9d9;">$</p>
          <p style="color: #4E50B4;" class="fw-bold">Precio total:</p>
          <p style="background-color: #d9d9d9;">$ {{ cart.get_total_price }}</p>
          <button class="btn rounded-pill mb-3" style="background-color: #34DD78;">
            <a href="{% url 'orders:order_create' %}" class="fw-bold" style="color: #4E50B4">Finalizar compra</a>
          </button>
          <button class="btn rounded-pill" style="background-color: #34DD78;">
            <a href="{% url 'shop:product_list' %}" class="fw-bold" style="color: #4E50B4">Seguir comprando</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

  
{% endblock %}