{% extends 'base_accounts.html' %}
{% load widget_tweaks %}
{% load static %}

<style>
    .input-group {
        border-radius: 25px;
        overflow: hidden;
    }
    .input-group-text {
        background-color: #f8f9fa;
        border: none;
        color: #4E50B4;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 38px;
    }
    .form-control {
        border: none;
        box-shadow: none !important;
        height: 38px;
        padding-right: 40px;
    }
    .form-control:focus {
        border-color: #4E50B4;
    }
    .input-group:focus-within {
        box-shadow: 0 0 0 0.2rem rgba(78, 80, 180, 0.25);
    }
    #togglePassword {
        background: none;
        border: none;
        color: #4E50B4;
        padding: 0.375rem 0.75rem;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        cursor: pointer;
    }
    #togglePassword:focus {
        outline: none;
    }
    .input-group-text i {
        font-size: 1.2rem;
    }
    .input-group-prepend {
        margin-right: -1px;
    }
    .input-group > .input-group-prepend > .input-group-text {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .eye-icon {
        transition: all 0.3s ease;
        color: #4E50B4;
    }
    .eye-slash {
        transition: all 0.3s ease;
    }
</style>

{% block content %}
<div class="container mt-5">
    <div class="card mb-5" style="width: 900px; margin: auto; margin-top: 20px;">
        <div class="card-body mx-auto">
            
            <div class="text-center mb-4">
                <img src="{% static 'img/logo_v_pharma.png' %}" alt="logo" width="150px" class="me-1">
            </div>

            <h2 class="fw-bold text-center" style="color: #4E50B4;">Iniciar sesión</h2>

            <div class="card mt-4" style="width: 500px;">
                <div class="card-body text-center">
                    <!-- formulario de inicio de sesión -->
                    <form method="post">
                        {% csrf_token %}
                        <!-- Iniciar sesión con nombre de Ususario -->
                        <div class="form-group mb-4">
                            <div class="input-group">
                                <span class="input-group-text rounded">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" fill="#4E50B4" class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                                 </svg>
                                </span>
                                {{ form.username|add_class:"form-control"|attr:"placeholder:Ingrese su nombre de usuario" }}
                            </div>
                            {% if form.username.errors %}
                                <ul>
                                    {% for error in form.username.errors %}
                                        <li style="color: red;">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <!-- Iniciar sesión con nombre de Ususario -->
                        
                        <!-- Contraseña, ver contraseña -->
                        <div class="form-group mb-4">
                            <div class="input-group">
                                <div class="input-group-prepend rounded">
                                    <span class="input-group-text rounded-start">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" fill="#4E50B4" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
                                        </svg>
                                    </span>
                                </div>
                                <div class="position-relative flex-grow-1">
                                    {{ form.password|add_class:"form-control"|attr:"placeholder:Ingrese su contraseña" }}
                                    <button class="btn position-absolute end-0 top-50 translate-middle-y" type="button" id="togglePassword">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="eye-icon">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                            <circle cx="12" cy="12" r="3"></circle>
                                            <path class="eye-slash" d="M2 2l20 20" style="opacity: 0;"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            {% if form.password.errors %}
                                <ul>
                                    {% for error in form.password.errors %}
                                        <li style="color: red;">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <!-- Contraseña, ver contraseña -->
                        
                        <div class="mt-3 text-center mb-4">
                            <a href="{% url 'password_reset' %}" style="color: #34DD78;">¿Olvidó su contraseña?</a>
                        </div>

                        <button type="submit" class="btn rounded-pill mb-3 fw-bold" style="background-color: #4E50B4; color: #ffff">Iniciar sesión</button>

                    </form>
                    <!-- formulario de inicio de sesión -->

                    <div class="mt-3 text-center">
                        <p style="color: #4E50B4;">No tienes cuenta <a href="{% url 'register' %}" style="color: #34DD78;">Regístrate aquí</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Script para condicinamiento de ver contraseña -->
<script>
    document.getElementById('togglePassword').addEventListener('click', function (e) {
        const password = document.querySelector('input[name="password"]');
        const eyeIcon = this.querySelector('.eye-icon');
        const eyeSlash = eyeIcon.querySelector('.eye-slash');
        
        if (password.type === 'password') {
            password.type = 'text';
            eyeIcon.style.color = '#4E50B4';
            eyeSlash.style.opacity = '1';
        } else {
            password.type = 'password';
            eyeIcon.style.color = '#4E50B4';
            eyeSlash.style.opacity = '0';
        }
    });
</script>
<!-- Script para condicinamiento de ver contraseña -->
{% endblock %}
