<!-- templates/orders/order/invoice.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>factura {{ order.id }}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 1in;
        }
        h1 {
            text-align: center;
        }
        .order-details {
            margin-top: 1in;
        }
        .order-details ul {
            list-style-type: none;
            padding: 0;
        }
        .order-details li {
            margin-bottom: 0.5em;
        }
    </style>
</head>
<body>
    <h1>Factura #{{ order.id }}</h1>
    <p>fecha: {{ order.created_at.strftime('%Y-%m-%d') }}</p>
    
    <div class="order-details">
        <h2>Detalles del pedido:</h2>
        <ul>
            {% for item in order.items.all %}
            <li>
                {{ item.quantity }}x {{ item.product.name }} - ${{ item.price }}
            </li>
            {% endfor %}
        </ul>
        <p>Total: ${{ order.get_total_price }}</p>
    </div>
</body>
</html>