{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4" style="color: #3730A3;"><strong>Productos favoritos</strong></h2>
    
    <div class="row row-cols-1 row-cols-md-4 g-4 justify-content-center">
        {% if favorites %}
            {% for favorite in favorites %}
                <div class="col">
                    <div class="card mb-4 shadow-sm h-100">
                        <div class="card-header text-center" style="background-color: #34DD78; color: #fff;">
                            <h5 style="color: #3730A3;"><strong>{{ favorite.product.name }}</strong></h5>
                        </div>
                        <div class="card-body text-center">
                            <img src="{{ favorite.product.image.url }}" alt="{{ favorite.product.name }}" class="img-fluid mb-3" style="max-height: 200px;">
                            <h6 class="text-primary" style="color: #3730A3;">${{ favorite.product.price }}</h6>
                            
                            <a href="{% url 'shop:product_detail' favorite.product.id favorite.product.slug %}" class="btn btn-primary btn-sm me-2" style="background: #3730A3; border: none;">Ver</a>
                            <form method="POST" action="{% url 'favorite:remove_from_favorites' favorite.product.id %}" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm" style="background: #34DD78; border: none;">Eliminar</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-warning text-center col-md-8" role="alert">
                No tienes productos en favoritos.
            </div>
        {% endif %}
    </div>
</div>


<!-- Footer-->
<footer class="row fixed-bottom">

    <div class="col p-3 ps-4" style="background-color: #a9a9dd;">
      <div class="card" style="width: 18rem; background-color: #e7f1f6;">
        <div class="card-body fw-bold text-start">
          <p class="card-text">
            <a href="{% url 'shop:ayuda' %}" style="color: #4e50b4; text-decoration: none;">
              <img src="{% static 'img/footer/ayuda.png' %}" alt="icon_help" width="20px"> Ayuda
            </a>
          </p>
          <p>
            <a href="{% url 'shop:quienes_somos' %}" style="color: #4e50b4; text-decoration: none;">
              <img src="{% static 'img/footer/quienes _somos.png' %}" alt="icon_quien_somos" width="20px"> Quienes somos
            </a>
          </p>
          <p>
            <a href="{% url 'shop:politica_privacidad' %}" style="color: #4e50b4; text-decoration: none;">
              <img src="{% static 'img/footer/politicas_privacidad.png' %}" alt="icon_PdP" width="20px"> Políticas de Privacidad
            </a>
          </p>
          <p>
            <a href="{% url 'shop:terminos_condiciones' %}" style="color: #4e50b4; text-decoration: none;">
              <img src="{% static 'img/footer/terminos-y-condiciones.png' %}" alt="icon_TyC" width="20px"> Términos y Condiciones
            </a>
          </p>
          <p>
            <a href="{% url 'shop:blog' %}" style="color: #4e50b4; text-decoration: none;">
              <img src="{% static 'img/footer/blog.png' %}" alt="icon_blog" width="20px"> Blog
            </a>
          </p>
        </div>
      </div>
    </div>
  
    <div class="col p-3" style="background-color: #a9a9dd;">
      <h5 style="color: white;" class="fw-bold mb-4">Contactos</h5>
      <div class="d-flex flex-column">
        <a style="color: white; text-decoration: none;" class="fw-semibold mb-3">
          <img src="{% static 'img/footer/whatsapp.png' %}" alt="logo_Whatsapp" width="30px">3126647917
        </a>
        <a href="" style="color: white; text-decoration: none;" class="fw-semibold">
          <img src="{% static 'img/footer/gmail.png' %}" alt="" width="30px"> v-pharma@gmail.com
        </a>
      </div>
    </div>
  
    <div class="col p-3" style="background-color: #a9a9dd;">
      <h5 style="color: white;" class="fw-bold mb-4">Síguenos</h5>
      <div class="d-flex flex-column">
        <a href="" style="color: white; text-decoration: none;" class="fw-semibold mb-3">
          <img src="{% static 'img/footer/instagram.png' %}" alt="logo_ig" width="30px"> V-Pharma Oficial
        </a>
        <a href="" style="color: white; text-decoration: none;" class="fw-semibold">
          <img src="{% static 'img/footer/facebook.png' %}" alt="logo_facebook" width="30px"> V-Pharma
        </a>
      </div>
    </div>
  
  </footer>
  <!-- Footer -->

{% endblock %}

