{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4" style="color: #3730A3;"><strong>Productos favoritos</strong></h2>
    
    <div class="row row-cols-1 row-cols-md-4 g-4 justify-content-center">
        {% if favorites %}
            {% for favorite in favorites %}
                <div class="col">
                    <div class="card mb-4 shadow-sm h-100">
                        <div class="card-header text-center" style="background-color: #34DD78; color: #fff;">
                            <h5 style="color: #3730A3;"><strong>{{ favorite.product.name }}</strong></h5>
                        </div>
                        <div class="card-body text-center">
                            <img src="{{ favorite.product.image.url }}" alt="{{ favorite.product.name }}" class="img-fluid mb-3" style="max-height: 200px;">
                            <h6 class="text-primary" style="color: #3730A3;">${{ favorite.product.price }}</h6>
                            
                            <a href="{% url 'shop:product_detail' favorite.product.id favorite.product.slug %}" class="btn btn-primary btn-sm me-2" style="background: #3730A3; border: none;">Ver</a>
                            <form method="POST" action="{% url 'favorite:remove_from_favorites' favorite.product.id %}" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm" style="background: #34DD78; border: none;">Eliminar</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-warning text-center col-md-8" role="alert">
                No tienes productos en favoritos.
            </div>
        {% endif %}
    </div>
</div>


<!-- Footer-->
<footer class="container-fluid p-4 rounded-4" style="background-color: #9394D5; width: 80%; height: 250px;">
  <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card p-4 mt-3" style="background-color: #E7F1F6; border-radius: 15px;">
            <ul class="list-unstyled">
              <li class="mb-3">
                <a href="{% static 'pdfs/ayuda-usuario.pdf' %}" style="color: #4e50b4; text-decoration: none;" class="fw-semibold">
                  <img src="{% static 'img/footer/ayuda.png' %}" alt="icon_help" width="20px"> Ayuda
                </a>
              </li>
              <li class="mb-3">
                <a href="{% url 'shop:quienes_somos' %}" style="color: #4e50b4; text-decoration: none;" class="fw-semibold">
                  <img src="{% static 'img/footer/quienes _somos.png' %}" alt="icon_quien_somos" width="20px"> Quienes somos
                </a>
              </li>
              <li class="mb-3">
                <a href="{% url 'shop:politica_privacidad' %}" style="color: #4e50b4; text-decoration: none;" class="fw-semibold">
                  <img src="{% static 'img/footer/politicas_privacidad.png' %}" alt="icon_PdP" width="20px"> Políticas de Privacidad
                </a>
              </li>
              <li class="mb-3">
                <a href="{% url 'shop:terminos_condiciones' %}" style="color: #4e50b4; text-decoration: none;" class="fw-semibold">
                  <img src="{% static 'img/footer/terminos-y-condiciones.png' %}" alt="icon_TyC" width="20px"> Términos y Condiciones
                </a>
              </li>
              <li>
                <a href="{% url 'blog:post_list' %}" style="color: #4e50b4; text-decoration: none;" class="fw-semibold">
                  <img src="{% static 'img/footer/blog.png' %}" alt="icon_blog" width="20px"> Blog
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <h5 class="fw-bold mb-4 mt-5" style="color: #E7F1F6;">Contáctanos</h5>
          <ul class="list-unstyled">
            <li class="mb-3">
              <a style="color: white; text-decoration: none;" class="fw-semibold">
                <img src="{% static 'img/footer/whatsapp.png' %}" alt="logo_Whatsapp" width="30px">3126647917
              </a>
            </li>
            <li>
              <a href="" style="color: white; text-decoration: none;" class="fw-semibold">
                <img src="{% static 'img/footer/gmail.png' %}" alt="" width="30px"> v-pharma@gmail.com
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 class="fw-bold mt-5 mb-4" style="color: #E7F1F6;">Síguenos</h5>
          <ul class="list-unstyled">
            <li class="mb-3">
              <a href="" style="color: white; text-decoration: none;" class="fw-semibold">
                <img src="{% static 'img/footer/facebook.png' %}" alt="logo_facebook" width="30px"> Facebook
              </a>
            </li>
            <li>
              <a href="" style="color: white; text-decoration: none;" class="fw-semibold">
                <img src="{% static 'img/footer/instagram.png' %}" alt="logo_instagram" width="30px"> Instagram
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="text-center mt-3 fw-semibold">
        <p style="color: #9394D5;">&copy; 2024 V-Pharma. Todos los derechos reservados.</p>
      </div>
  </div>
</footer>
<!-- Footer -->

{% endblock %}

